{{template "header"}}
<link rel="stylesheet" href="/static/css/view-picture-detail.css" type="text/css"> {{template "middle"}}
<script src="js/echo.min.js"></script>
<script>

Echo.init({
    offset: 0,//离可视区域多少像素的图片可以被加载
　　 throttle: 0 //图片延时多少毫秒加载
}); 

</script>

<div class="content-wrap">
    <div class="content">
        {{$tid := .files.topic_id}}
        <div class="detail-header">
            <h2>{{.files.title}}</h2>
            <div class="detail-info">
                <span>日期{{.files.create_time}}</span>
                <span>被撸{{.files.see_time}}次</span>
                <a href="/deltopic?tid={{$tid}}">删除</a>
            </div>
        </div>

        {{range .files.images}}
        <p>
            <img class="lazy" data-echo="/static/images/{{$tid}}/{{.}}" alt="" width="100%" height="100%">
        </p>
        {{end}}
    </div>
</div>

{{template "footer"}}