* {
    margin: 0px;
    padding: 0px;
}

body {
    padding-bottom: 20px;
    /* background-color: #000000; */
}

.carousel {
    background-color: white;
    margin-bottom: 5px;
    margin-top: -15px;
}

.carousel .item {
    background-color: white;
}

.carousel img {
    width: 100%;
}

#summery .col-md-6 {
    margin-bottom: 5px;
}